<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<ul>
    <% if (recipes && recipes.length) { %>
        <% recipes.forEach(recipe => { %>
            <li><%= recipe.title %> - <%= recipe.cuisine %></li>
        <% }); %>
    <% } else { %>
        <li>No recipes found.</li>
    <% } %>
</ul>

<div class="mainBox">

    <!-- search by Keyword -->
            <form action="/searchByKeyword" class="search-form">
                <label class="form-label">Keyword:</label>
                <div class="form-row">
                    <input type="text" name="keyword" class="form-control"  placeholder="Enter keyword...">
                    <button>Search by Keyword</button>
                </div>

            </form>



</div>

<%- include('partials/footer.ejs') %>
